### Dictionary
- 영어 사전과 같은 구조로 생각하면 된다.
    - 단어: 뜻
    - 키: 값
    - ':'으로 짝 지어져 있는 형태의 자료구조
- 순서가 없다. => 인덱싱 불가능
    - 키로 값을 찾는다.
        - 이때, 키로 값을 찾기 때문에, 키는 중복되지 않는 고유한 값
- 가변 타입으로 수정, 삭제, 추가가 가능하다.
- 타입은 dict이다.
- 형 변환은 dict()로 하면 된다.
- 중괄호를 사용하며 {}, 콤마로 구분한다.
- 중요 값에 다양한 자료구조가 올 수 있다.
- 단순히 a:1 뿐만이 아니라, a:[1, 2, 3, 4]와 같이 리스트도 올 수 있다.

In [1]:
# 빈 딕셔너리 선언
empty = dict()
empty_dict = {}
print(type(empty_dict))

# set와 다르다
empty_set = set()
print(type(empty_set))

<class 'dict'>
<class 'set'>

In [2]:
# = set
a = {1, 2, 3} 

# = dict
b = {1:'apple', 2:'banana', 3:'kiwi'}

a, b

({1, 2, 3}, {1: 'apple', 2: 'banana', 3: 'kiwi'})

In [3]:
# 콜론:을 쓰지 않고 딕셔너리 만드는 
c = {'':'', '':'', '':''}

# 방법
# 이 경우 키 값은 '' 안 해도 됨
c = dict(apple='a', banana='b', kiwi='c')
c

{'apple': 'a', 'banana': 'b', 'kiwi': 'c'}

### 딕셔너리 실습1
- 출석부로 딕셔너리 만들기
- 이름, 학번, 학과 

    james 202201 경제학과 
    
    laura 202203 스페인어과
    
    louis 202202 컴공과

In [4]:
# 중복이 안 되는 것을 기준으로 key 할당
# value 값에는 다양한 자료구조를 넣을 수 있음.
# = 하나하나 활용하기 위해서!

{202201:['james', '경제학과'], 202203:['laura', '스페인어과'], 202202:['louis', '컴공과']}

{202201: ['james', '경제학과'],
 202203: ['laura', '스페인어과'],
 202202: ['louis', '컴공과']}

### 형 변환
- key, value 값이 쌍으로 있을 때 가능

In [5]:
# [] 안에 []가 쌍으로 존재할 때
# 튜플()이어도 가능

ex1 = [[1, 2], [2, 3], [3, 4]]
dict(ex1)

{1: 2, 2: 3, 3: 4}

In [6]:
# 만약 key가 똑같다면, 마지막의 value를 할당

ex2 = [[1, 2], [2, 3], [1, 3]]
dict(ex2)

{1: 3, 2: 3}

In [7]:
# 문자열도 가능한데, 딱 두자리만 있어야 함. 
# 세 자리 이상이 되면 오류

ex3 = ['ab', 'bc', 'cd']
dict(ex3)

{'a': 'b', 'b': 'c', 'c': 'd'}

### 항목 조회 & 변경 & 추가 & 삭제

In [8]:
# 성과 이름이 담긴 딕셔너리

pythons = { 
    'Chapman': 'Graham',
    'Cleese': 'john',
    'Idle': 'Eric',
    'Jones': 'Terry',
    'Palin':'Michael',
}

In [9]:
# 조회(key로 value를 찾음)
# 없는 값이면 예외가 생김
pythons['Idle']

'Eric'

In [26]:
# 오류가 뜨지 않도록 하는 방법

# 1. 값이 있는지 없는지 확인한 다음에 하기
print('Hwa' in pythons)

# 2. get()
# 있으면 값을 반환, 없으면 None을 반환
print(pythons.get('Lee'))

# 값이 없을 때 반환할 값을 자유롭게 설정 가능 (예: 0)
print(pythons.get('Lee', 0))

True
None
0

### 전체 조회
- keys()
- values()
- items()

In [18]:
pythons.keys()

dict_keys(['Chapman', 'Cleese', 'Idle', 'Jones', 'Palin', 'Hwa', 'Howard'])

In [19]:
pythons.values()

dict_values(['Graham', 'john', 'james', 'Terry', 'Michael', 'Chloe', 'Moe'])

In [21]:
# (키, 값) 튜플 형태로 한꺼번에 조회 => 순회할 때 많이 사용
pythons.items()

dict_items([('Chapman', 'Graham'), ('Cleese', 'john'), ('Idle', 'james'), ('Jones', 'Terry'), ('Palin', 'Michael'), ('Hwa', 'Chloe'), ('Howard', 'Moe')])

In [23]:
# 리스트로 형 변환 해주는 게 메모리를 효율적으로 사용하는 방법
print(type(pythons.keys()))
print(list(pythons.keys()))

<class 'dict_keys'>
['Chapman', 'Cleese', 'Idle', 'Jones', 'Palin', 'Hwa', 'Howard']

In [24]:
# item 순회
for k, v, in pythons.items():
    print(f'{k} = {v}')
    
print()
    
# 리스트 컴프리헨션
[(k, v) for k, v in pythons.items()]

Chapman = Graham
Cleese = john
Idle = james
Jones = Terry
Palin = Michael
Hwa = Chloe
Howard = Moe

[('Chapman', 'Graham'),
 ('Cleese', 'john'),
 ('Idle', 'james'),
 ('Jones', 'Terry'),
 ('Palin', 'Michael'),
 ('Hwa', 'Chloe'),
 ('Howard', 'Moe')]

In [11]:
# 변경(key를 찾아서 다른 value를 넣음)
pythons['Idle'] = 'james'
pythons

{'Chapman': 'Graham',
 'Cleese': 'john',
 'Idle': 'james',
 'Jones': 'Terry',
 'Palin': 'Michael'}

In [12]:
# 추가(없는 값에 하면 추가 됨)
pythons['Hwa'] = 'Chloe'
pythons

{'Chapman': 'Graham',
 'Cleese': 'john',
 'Idle': 'james',
 'Jones': 'Terry',
 'Palin': 'Michael',
 'Hwa': 'Chloe'}

### Q. for loop 이용해 animal : leg로 이뤄진 딕셔너리 만들기

In [28]:
animal = 'cat snake monkey ant spider'.split()
legs = 4, 0, 2, 4, 8

In [32]:
num_leg = {}
for i in range(len(animal)):
    num_leg[animal[i]] = legs[i]
print(animals)

{'cat': 4, 'snake': 0, 'monkey': 2, 'ant': 4, 'spider': 8}

In [33]:
animal_dict = {}
for k, v in zip(animal, legs):
    animal_dict[k] = v
print(animal_dict)

{'cat': 4, 'snake': 0, 'monkey': 2, 'ant': 4, 'spider': 8}

In [ ]:
new_phthons = {}
dict([[k, legs(animal.index(k))] for k in animal])

#### Q. Pythons에서 성: 이름, 성 첫 글자만, 이름은 글자 개수로 이뤄진 튜플(성 이름) 리스트로 반환하기
    - dict comprehension 쓰지 말기
    
    [(), ()] -> items()

In [35]:
# 1. 순회한다 2. 각 요소 변화
[(key[0], len(value)) for key, value in pythons.items()] #정답

[('C', 6), ('C', 4), ('I', 5), ('J', 5), ('P', 7), ('H', 5), ('H', 3)]

### 값 수정, 삭제, 복제, 비교

In [8]:
pythons

{'Chapman': 'Graham',
 'Cleese': 'John',
 'Idle': 'Eric',
 'Jones': 'Terry',
 'Palin': 'Michael',
 'Hwa': 'Chioe'}

In [15]:
others = {
    'Marx': 'Groucho',
    'Howard': 'Moe'
}
others

{'Marx': 'Groucho', 'Howard': 'Moe'}

In [16]:
pythons.update(others) #딕셔너리 + 딕셔너리 합치기 # 여러 개를 추가하는 경우 update (병합)

In [11]:
pythons

{'Chapman': 'Graham',
 'Cleese': 'John',
 'Idle': 'Eric',
 'Jones': 'Terry',
 'Palin': 'Michael',
 'Hwa': 'Chioe',
 'Marx': 'Groucho',
 'Howard': 'Moe'}

In [13]:
# 파이썬 3에서만 있는 기능
{**others, **pythons}

{'Marx': 'Groucho',
 'Howard': 'Moe',
 'Chapman': 'Graham',
 'Cleese': 'John',
 'Idle': 'Eric',
 'Jones': 'Terry',
 'Palin': 'Michael',
 'Hwa': 'Chioe'}

In [36]:
 # 삭제 # 없는 요소를 삭제하려면 오류
del pythons['Hwa']
pythons

{'Chapman': 'Graham',
 'Cleese': 'john',
 'Idle': 'james',
 'Jones': 'Terry',
 'Palin': 'Michael',
 'Howard': 'Moe'}

In [17]:
pythons.pop('Marx') # 값을 반환한 뒤 삭제 됨

'Groucho'

In [17]:
pythons.pop('Lee', 0) #없는 요소면 0 반환

0

In [18]:
#전체삭제
pythons.clear()
pythons = {}
pythons

{}

In [25]:
# items()는 튜플의 형태 => 각각 인덱스로 접근이 가능

# 0은 key 값, 1은 value 값
[k[0] for k in pythons.items()]

['Chapman', 'Cleese', 'Idle', 'Jones', 'Palin', 'Hwa', 'Howard']

### 복제
- 할당
- 얕은 복사
- 깊은 복사

In [37]:
a = {1:1, 2:2, 3:3}
b = a # 할당
a[1] = 45
a, b

({1: 45, 2: 2, 3: 3}, {1: 45, 2: 2, 3: 3})

In [39]:
c = a.copy() #얕은 복사
a[2] = 22
a, c #값이 달라짐

({1: 45, 2: 22, 3: 3}, {1: 45, 2: 22, 3: 3})

In [40]:
a = {1: [1, 2, 3], 2: [2, 3, 4]} # 가변객체 속 가변객체는 copy에서 제외된다
d = a.copy()
a[1][0] = 100
a, d
# 깊은 복사를 해야한다

({1: [100, 2, 3], 2: [2, 3, 4]}, {1: [100, 2, 3], 2: [2, 3, 4]})

In [24]:
import copy
e = copy.deepcopy(a) # 깊은 복사
a[1][1] = 999
a, e

({1: [100, 999, 3], 2: [2, 3, 4]}, {1: [100, 999, 3], 2: [2, 3, 4]})

#### 비교
- '같다 or 다르다'만 가능하다

In [25]:
a != b

True

### Q4.
1. 두 리스트로 하나의 딕셔너리 생성
2. 명왕성 = pluto 추가하기
3. '성'으로 끝나지 않는 키 삭제하기
    ** del dict1['태양'] < 안됨
4. sorted 이용해서 값 정렬하기 i) key, ii) value

In [42]:
solar_kor = '태양 수성 금성 지구 화성 목성 토성 천왕성 해왕성'.split()
solar_eng = 'sun mercury venus earth mars jupiter saturn uranus neptune'.split()

In [43]:
# 혼자 해본 것... 2번까지밖에 못함
solar = dict(zip(solar_kor, solar_eng))
solar['명왕성'] = 'pluto'

In [56]:
# 답
system = {}
for k, v in zip(solar_kor, solar_eng):
    system[k] = v
system

{'태양': 'sun',
 '수성': 'mercury',
 '금성': 'venus',
 '지구': 'earth',
 '화성': 'mars',
 '목성': 'jupiter',
 '토성': 'saturn',
 '천왕성': 'uranus',
 '해왕성': 'neptune'}

In [57]:
system['명왕성'] = 'pluto'
system

{'태양': 'sun',
 '수성': 'mercury',
 '금성': 'venus',
 '지구': 'earth',
 '화성': 'mars',
 '목성': 'jupiter',
 '토성': 'saturn',
 '천왕성': 'uranus',
 '해왕성': 'neptune',
 '명왕성': 'pluto'}

In [50]:
dict([(k, system[k]) for k in system if k.endswith('성')])  # 답이 맞긴 하나 비효율적 - > 딕셔너리컴프리헨션으로

{'수성': 'mercury',
 '금성': 'venus',
 '화성': 'mars',
 '목성': 'jupiter',
 '토성': 'saturn',
 '천왕성': 'uranus',
 '해왕성': 'neptune',
 '명왕성': 'pluto'}

In [68]:
{k: v for k, v in system.items() if k.endswith('성')}

{'수성': 'mercury',
 '금성': 'venus',
 '화성': 'mars',
 '목성': 'jupiter',
 '토성': 'saturn',
 '천왕성': 'uranus',
 '해왕성': 'neptune',
 '명왕성': 'pluto'}

### 딕셔너리 컴프리헨션

In [44]:
accusation = {'room': 'ballroom', 'weapon': 'lead pipe', 'person': 'Col. Mustard'}

for k, v in accusation.items():
    print(f'{k} has the contents {v}')

room has the contents ballroom
weapon has the contents lead pipe
person has the contents Col. Mustard

In [47]:
letter = 'apple'
{ch: letter.count(ch) for ch in letter} # 형변환을 하지 않아도 된다 set(letter)로 하면 알파벳 순서 바뀜

{'a': 1, 'p': 2, 'l': 1, 'e': 1}

In [49]:
# 단어의 모음 세기
vowels = 'aeiou'
word = 'onomatopoeia'
# word 순회
# vowels

In [66]:
{v: word.count(v) for v in vowels if v in word} #vowels = list(vowels)

{'a': 2, 'e': 1, 'i': 1, 'o': 4}

In [51]:
{w: word.count(w) for w in set(word) if w in vowels}

{'a': 2, 'i': 1, 'e': 1, 'o': 4}

In [72]:
sorted(system) # 리스트로 바뀌어서 출력

['금성', '명왕성', '목성', '수성', '지구', '천왕성', '태양', '토성', '해왕성', '화성']

In [53]:
def fx(x):
    return x[1]

In [58]:
sorted(system.items(), key=fx)

# fx(system.items()) ... system.items() 튜플의 [1] 을 기준으로 sort

[('지구', 'earth'),
 ('목성', 'jupiter'),
 ('화성', 'mars'),
 ('수성', 'mercury'),
 ('해왕성', 'neptune'),
 ('명왕성', 'pluto'),
 ('토성', 'saturn'),
 ('태양', 'sun'),
 ('천왕성', 'uranus'),
 ('금성', 'venus')]

In [59]:
# lambda
# lambda를 활용하면 위의 과정을 간략화할 수 있다.
sorted(system.items(), key=lambda x: x[1])

[('지구', 'earth'),
 ('목성', 'jupiter'),
 ('화성', 'mars'),
 ('수성', 'mercury'),
 ('해왕성', 'neptune'),
 ('명왕성', 'pluto'),
 ('토성', 'saturn'),
 ('태양', 'sun'),
 ('천왕성', 'uranus'),
 ('금성', 'venus')]

### set
- 중복이 없다
- 집합 -> 교집합, 합집합, 차집합,..
- 집합을 이용해야 할 때
- bag, 인덱싱도 없다

In [82]:
empty = set()
empty

set()

In [83]:
a = {1, 2, 3} # 값이 있을 땐 그냥 넣으면 된다
a

{1, 2, 3}

In [84]:
a = set((1, 2, 3)) # 선언, 형 변환 (같은 개념)
a

{1, 2, 3}

In [88]:
# 추가
a.add(4)
a

{1, 2, 3, 4}

In [89]:
# 삭제
a.remove(4)
a

{1, 2, 3}

In [60]:
a = {1, 2, 3}
b = {2, 3, 4}

# 교집합 | intersection
a.intersection(b)
print(a & b)
# 합집합 | union
a.union(b)
print(a | b)
# 차집합 | difference
a.difference(b)
print(a - b, b - a)

{2, 3}
{1, 2, 3, 4}
{1} {4}

In [62]:
drinks = {
    'martini': {'vodka', 'vermouth'},
    'black russian': {'vodka', 'kahlua'},
    'white russian': {'cream', 'kahlua', 'vodka'},
    'manhattan': {'rye', 'vermouth', 'bitters'},
    'screwdriver': {'orange juice', 'vodka'}
}
# vodka가 포함된 술 출력하기
# 보드가는 있지만 크림, 베르무스는 없는 술 출력하기

In [104]:
# dict([(k, drinks[k]) for k in drinks if 'vodka' in drinks[k] and 'vermouth' not in drinks[k]])

In [63]:
# 1
for k, v in drinks.items():
    if 'vodka' in v:
        print(k)

martini
black russian
white russian
screwdriver

In [108]:
#2
for k, v in drinks.items():
    #if 'vodka' in v and not 'cream' in v and not 'vermouth' in v:
    if 'vodka' in v and not ('cream' in v or 'vermouth' in v):
        print(k)

black russian
screwdriver

In [111]:
#set 활용해서 바꾸기
element = {'cream', 'vermouth'}
for k, v in drinks.items():
    if 'vodka' in v and not (v & element):
        print(k)

black russian
screwdriver

####  set comprehension

In [113]:
{s for s in range(5)}

{0, 1, 2, 3, 4}

In [114]:
# frozenset
set([1, 2])
frozenset([1, 2])

frozenset({1, 2})

### Project
- 팀 별로 한 개의 파일 제출
- 태스크를 풀어서 수업 30분 동안 랜덤 코드 설명 시킬 것 (마이크) -> 분석하기. 코드를 이해했다는 걸 보여줄 수 있게
- 제출: 수요일 자정까지
- 구글링 복붙 하면 0점
- 코드는 같이 짜되 발표준비는 따로

In [115]:
!pip install pylint
!pylint example.py
# 디버깅 코드. 오류 설명해줌 
# 이것도 점수에 들어간다 (?)

!pip install pydocstyle
!pydocstyle example.py

Requirement already satisfied: pylint in c:\users\perod\anaconda3\lib\site-packages (2.9.6)
Requirement already satisfied: toml>=0.7.1 in c:\users\perod\anaconda3\lib\site-packages (from pylint) (0.10.2)
Requirement already satisfied: mccabe<0.7,>=0.6 in c:\users\perod\anaconda3\lib\site-packages (from pylint) (0.6.1)
Requirement already satisfied: isort<6,>=4.2.5 in c:\users\perod\anaconda3\lib\site-packages (from pylint) (5.9.3)
Requirement already satisfied: colorama in c:\users\perod\anaconda3\lib\site-packages (from pylint) (0.4.4)
Requirement already satisfied: astroid<2.7,>=2.6.5 in c:\users\perod\anaconda3\lib\site-packages (from pylint) (2.6.6)
Requirement already satisfied: lazy-object-proxy>=1.4.0 in c:\users\perod\anaconda3\lib\site-packages (from astroid<2.7,>=2.6.5->pylint) (1.6.0)
Requirement already satisfied: wrapt<1.13,>=1.11 in c:\users\perod\anaconda3\lib\site-packages (from astroid<2.7,>=2.6.5->pylint) (1.12.1)
Requirement already satisfied: setuptools>=20.0 in c:\users\perod\anaconda3\lib\site-packages (from astroid<2.7,>=2.6.5->pylint) (58.0.4)
************* Module example.py
example.py:1:0: F0001: No module named example.py (fatal)
Requirement already satisfied: pydocstyle in c:\users\perod\anaconda3\lib\site-packages (6.1.1)
Requirement already satisfied: snowballstemmer in c:\users\perod\anaconda3\lib\site-packages (from pydocstyle) (2.1.0)

WARNING: Error in file example.py: [Errno 2] No such file or directory: 'example.py'