In [5]:
import nltk
nltk.download(['brown', 'inaugural'])

[nltk_data] Downloading package brown to
[nltk_data]     C:\Users\perod\AppData\Roaming\nltk_data...
[nltk_data]   Package brown is already up-to-date!
[nltk_data] Downloading package inaugural to
[nltk_data]     C:\Users\perod\AppData\Roaming\nltk_data...
[nltk_data]   Package inaugural is already up-to-date!

True

In [6]:
brown = nltk.corpus.brown
cfd = nltk.ConditionalFreqDist(
    (genre, word)
    for genre in brown.categories()
    for word in brown.words(categories=genre)
)

modals = ['can', 'could', 'would', 'will', 'might', 'may']
cfd.tabulate(conditions=brown.categories(), samples=modals) #tabulate = 표로 정렬

                  can could would  will might   may
      adventure    46   151   191    50    58     5
 belles_lettres   246   213   392   236   113   207
      editorial   121    56   180   233    39    74
        fiction    37   166   287    52    44     8
     government   117    38   120   244    13   153
        hobbies   268    58    78   264    22   131
          humor    16    30    56    13     8     8
        learned   365   159   319   340   128   324
           lore   170   141   186   175    49   165
        mystery    42   141   186    20    57    13
           news    93    86   244   389    38    66
       religion    82    59    68    71    12    78
        reviews    45    40    47    58    26    45
        romance    74   193   244    43    51    11
science_fiction    16    49    79    16    12     4

In [7]:
cfd2 = nltk.ConditionalFreqDist(
    (genre, modal)
    for genre in brown.categories()
    for modal in ['can', 'could', 'would', 'will', 'might', 'may']
    for word in brown.words(categories=genre)
        if word.lower() == modal # word 중에서 modal이 포함된 것만 추출
)
cfd2.tabulate()

                  can could   may might  will would
      adventure    48   154     7    59    51   194
 belles_lettres   249   216   221   113   246   397
      editorial   124    57    79    39   235   185
        fiction    39   168    10    44    56   291
     government   119    38   179    13   244   120
        hobbies   276    59   143    22   269    83
          humor    17    33     8     8    13    56
        learned   367   159   336   128   340   321
           lore   170   142   170    50   178   188
        mystery    45   145    15    57    25   189
           news    94    87    93    38   389   246
       religion    84    59    79    12    72    69
        reviews    45    40    47    26    61    48
        romance    79   195    11    51    49   247
science_fiction    16    49     4    12    17    80

In [8]:
cfd1 = nltk.ConditionalFreqDist(
    (genre, modal)

SyntaxError: unexpected EOF while parsing (Temp/ipykernel_23740/2784275385.py, line 2)

In [ ]:
inaugural = nltk.corpus.inaugural

In [ ]:
inaugural.fileids() # 연도 - 이름 .txt

# cfd ['america', 'citizen'] 빈도수를 cfd로 만드시오.

In [ ]:
cfd3 = nltk.ConditionalFreqDist(
    (targetword, fileid[:-4])  # [:-4]를 쓴 이유?? -> .txt 제거
    for fileid in inaugural.fileids()
    for targetword in ['citizen', 'america']
    for word in inaugural.words(fileids=fileid)
        if word.lower() == targetword
)
cfd3.tabulate() # 표보다는 plot으로 하는 게 낫다

In [ ]:
# 이미지가 너무 작아서 추가한 코드
import matplotlib.pyplot as plt
plt.figure(figsize=(12, 5))
cfd3.plot()

### Tuple & List
- 불변 객체 / 가변 객체

In [16]:
# 생성
emptyT = () 
emptyT = tuple() 

emptyTL = []
emptyL = list()

emptyT, emptyL

((), [])

In [19]:
# 요소 여러 개일 때
alphabetT = ('a', 'b')
alphabetT = 'a', 'b'

alphabetT

alphabetL = ['a', 'b']

In [20]:
alphaT = ('a') #요소가1개일때 , 없으면 문자열
type(alphaT)

str

In [21]:
alphaT = ('b',)
type(alphaT)

tuple

- packing: 한 변수에 여러 데이터를 할당
    - list, tuple 자체. a = [1, 2, 3, 4]
- unpacking: 한 변수에 여러 데이터가 들어 있을 때 여러 변수에 나누는 것
    - a = 'k', b = 'i', c = 'm'

In [23]:
a, b, c = 'kim' #unpacking
a, b, c

('k', 'i', 'm')

In [24]:
# tuple을 값 교환하는 데에 활용
pwd = 'abcd'
userId = 'sky'

"""
# temp = 임시객체
temp1 = userId
temp2 = pwd
pwd = temp1
userId = temp2
"""

pwd, userId = userId, pwd # 서로 할당값이 바뀜
pwd, userId

('sky', 'abcd')

In [26]:
# 연산
('a',) + (1, 2)
(1, 2) * 3

(1, 2, 1, 2, 1, 2)

In [10]:
x = ('a',)
y = (1, 2)
# id 값이 다름!
# 더했다고 해서 x, y가 바뀌는 것이 아니라
# 새로운 변수에 할당이 되는 것
id(x), id(x + y)

(1803471946128, 1803422317760)

In [11]:
# 비교 (첫 인자부터)
x = 1, 2
y = 1, 6
x < y

True

In [29]:
# 순회 for loop
for i in x:
    print(x)

(1, 2)
(1, 2)

In [12]:
# 리스트 컴프리헨션
[i for i in x]

[1, 2]

In [13]:
# tuple comprehension?? 튜플로 바꿀 순 있지만 굳이 하지 않음

# 리스트컴프리헨션을 tuple에 넣는 방법
tuple([i for i in x])

# *를 하고, 리스트컴프리헨션을 가져오고, 쉼표(,)를 넣는 방법
* [i for i in x], # 속도가 느림

(1, 2)

In [36]:
# 형변환
dog = 'dog'
dogT = tuple(dog)

In [34]:
(dog,)

('dog',)

In [35]:
list(dog)

['d', 'o', 'g']

In [38]:
dogT[0] # 슬라이싱 가능

'd'

### Tuple 장점
    - 변하지 않는 데이터 시퀀스를 만들 수 있다. 타인의 접근을 막는다.
        - blue=1, white=2, ... 등 코드를 만들 때
    - 메모리 사용이 적다.
### list 장점
    - 튜플 장점 필요 없을 때 전부 리스트 사용
    - 데이터를 순차적으로 파악할 때
    - 중복 데이터를 쓸 수 있다 vs. set

### 리스트의 유용한 함수들
- 변경, 삭제, 추가
- 리스트컴프리헨션 업그레이드

In [40]:
num = list(range(5))
num

[0, 1, 2, 3, 4]

In [45]:
# 추가
# .append()
num.append(6) # 마지막에 요소 1개만 추가 (여러개 불가)

In [42]:
num

[0, 1, 2, 3, 4, 6]

In [43]:
# insert(index, item)
num.insert(0, 8)
num

[8, 0, 1, 2, 3, 4, 6]

In [44]:
# 여러 개 추가
# .extend()
num.extend([6, 6, 7]) #리스트에 리스트를 추가
num

[8, 0, 1, 2, 3, 4, 6, 6, 6, 7]

In [46]:
x = [5, 5, 9]
num += x
num

[8, 0, 1, 2, 3, 4, 6, 6, 6, 7, 6, 5, 5, 9]

In [47]:
# offset
num[0] = 9
num

[9, 0, 1, 2, 3, 4, 6, 6, 6, 7, 6, 5, 5, 9]

In [48]:
# slice 슬라이스
num[:3] = 0, 0, 0
num

[0, 0, 0, 2, 3, 4, 6, 6, 6, 7, 6, 5, 5, 9]

In [49]:
num[:3] = 'cat'
num

['c', 'a', 't', 2, 3, 4, 6, 6, 6, 7, 6, 5, 5, 9]

In [50]:
# 삭제
del num[:3]
num

[2, 3, 4, 6, 6, 6, 7, 6, 5, 5, 9]

In [53]:
# remove(value)
num.remove([4])
num

ValueError: list.remove(x): x not in list

In [54]:
# pop(index) 기본값 = -1
num.pop()
num

[2, 3, 4, 6, 6, 6, 7, 6, 5, 5]

In [55]:
num.pop(0)
num

[3, 4, 6, 6, 6, 7, 6, 5, 5]

In [56]:
# .clear()
num.clear()
num

[]

In [57]:
# 인덱스
num = list(range(5))
num.index(4)

4

In [58]:
0 in num

True

In [59]:
# 정렬: sort(), sorted()
sorted(num, reverse=True) # 변환 값만 복사해서 출력

[4, 3, 2, 1, 0]

In [60]:
num.sort(reverse=True) #리스트.sort() 값을 할당할 필요 없다.

In [61]:
num

[4, 3, 2, 1, 0]

In [63]:
# reverse(), reversed() 차이
num.reverse() #표기 차이

In [64]:
reversed(num)

In [65]:
# 할당
a = list(range(1, 5))
a

[1, 2, 3, 4]

In [66]:
b = a # 같은 메모리주소 참조하는 것 '='
b[0] = 6
a, b

([6, 2, 3, 4], [6, 2, 3, 4])

In [68]:
id(a), id(b) # 같은 메모리주소인 걸 확인

(2386093598464, 2386093598464)

In [71]:
# shallow copy: 참조하지 않고 새로운 객체에 할당하는 방법. '얕은 복사'
c = a.copy()
d = list(a)
e = a[:]
id(a), id(e), id(c), id(d) # 다 다른 메모리주소

(2386093598464, 2386093609536, 2386168082240, 2386093585152)

In [75]:
# deepcopy '깊은 복사', 하위에 중첩된 리스트 요소가 안 바뀌게
a.append([1, 2, 3])
a

[6, 2, 3, 4, [9, 2, 3], [1, 2, 3]]

In [73]:
f = a.copy()
id(a), id(f)

(2386093598464, 2386124654720)

In [74]:
f[-1][0] = 9
a, f

([6, 2, 3, 4, [9, 2, 3]], [6, 2, 3, 4, [9, 2, 3]])

In [76]:
import copy
g = copy.deepcopy(a)
g

[6, 2, 3, 4, [9, 2, 3], [1, 2, 3]]

In [77]:
g[-1][0] = 10
a, g

([6, 2, 3, 4, [9, 2, 3], [1, 2, 3]], [6, 2, 3, 4, [9, 2, 3], [10, 2, 3]])

In [78]:
# 순회: zip, enumerate
name = ['kate', 'royce', 'phill']
age = [77, 44, 54]

# (name, age)
for item1, item2 in zip(name, age): #여러 리스트 동시에 순회
    print((item1, item2))

('kate', 77)
('royce', 44)
('phill', 54)

In [82]:
for item1 in name:
    for item2 in age:
        print((item1, item2)) # 자료형을 tuple로 변환

('kate', 77)
('kate', 44)
('kate', 54)
('royce', 77)
('royce', 44)
('royce', 54)
('phill', 77)
('phill', 44)
('phill', 54)

In [80]:
list(zip(name, age))

[('kate', 77), ('royce', 44), ('phill', 54)]

In [81]:
# 리스트 + 인덱스 : enumerate
for idx, item in enumerate(name):
    print(idx, item)

0 kate
1 royce
2 phill

In [86]:
# 리스트 컴프리헨션으로 바꾸면
# list(zip(name, age))을 리스트컴프리헨션으로
# [word for word in zip(name, age)] # 맞긴 함
[(i, j+33 ) for i, j in zip(name, age)]
# 'j+33' = name, age 중 바꾸고 싶은 것이 있을 땐 word for word 이런 식이 아니라 변수 개수대로 할당

[('kate', 110), ('royce', 77), ('phill', 87)]

In [87]:
# name, age를 이용해서 새로운 리스트를 생성하는데  (이름, 나이), for문 사용 (리스트컴프리헨션 말고)
list1 = []
for i, j in zip(name, age):
    list1.append((i, j)) # append를 이럴 때 사용한다
print(list1)

[('kate', 77), ('royce', 44), ('phill', 54)]

In [88]:
[(i, j) for i, j in zip(name, age)]
# for문의 리스트 컴프리헨션으로 바꾸기

[('kate', 77), ('royce', 44), ('phill', 54)]

In [94]:
for i in name:
    for j in age:
        print(i, j)
# 1. 이걸 리스트컴프리헨션으로 바꾸기

# (kate, 77),
# (kate, 44),
# (kate, 54),

kate 77
kate 44
kate 54
royce 77
royce 44
royce 54
phill 77
phill 44
phill 54

In [97]:
[(i, j) for j in age for i in name] # 1번 답

[('kate', 77),
 ('royce', 77),
 ('phill', 77),
 ('kate', 44),
 ('royce', 44),
 ('phill', 44),
 ('kate', 54),
 ('royce', 54),
 ('phill', 54)]

In [90]:
[(i, j) for i, j in zip(name, age)]

[('kate', 77), ('royce', 44), ('phill', 54)]

In [91]:
# 2. [i, j] 리스트의 리스트로 바꿔보기 (리스트 컴프리헨션)
for i in name:
    empty = []
    for j in age:
        print(i, j)
        empty.append((i, j))

kate 77
kate 44
kate 54
royce 77
royce 44
royce 54
phill 77
phill 44
phill 54

In [107]:
output = []
for i in name:
    empty = []
    for j in age:
        print(i, j)
        empty.append((i, j))
    output.append(empty)

kate 77
kate 44
kate 54
royce 77
royce 44
royce 54
phill 77
phill 44
phill 54

In [103]:
for i in name:
    for j in age:
        print((i, j))
## == [(i, j) for j in age for i in name]

('kate', 77)
('kate', 44)
('kate', 54)
('royce', 77)
('royce', 44)
('royce', 54)
('phill', 77)
('phill', 44)
('phill', 54)

In [106]:
[[(i, j) for j in age] for i in name]

[[('kate', 77), ('kate', 44), ('kate', 54)],
 [('royce', 77), ('royce', 44), ('royce', 54)],
 [('phill', 77), ('phill', 44), ('phill', 54)]]

In [108]:
sentence = "do not judge a book by its cover"

# [(대문자, 첫글자대문자, 글자수), ...] 리스트 만들기

sentence.split()

['do', 'not', 'judge', 'a', 'book', 'by', 'its', 'cover']

In [109]:
[(word.upper(), word.title(), len(word)) for word in sentence.split()]

[('DO', 'Do', 2),
 ('NOT', 'Not', 3),
 ('JUDGE', 'Judge', 5),
 ('A', 'A', 1),
 ('BOOK', 'Book', 4),
 ('BY', 'By', 2),
 ('ITS', 'Its', 3),
 ('COVER', 'Cover', 5)]

In [126]:
text = [
    ['Sunja', 'said', 'goodnight', 'to', 'her', 'mother'],
    ['Hansu', 'was', 'no', 'longer' 'in', 'Busan']
]

#1. 문장마다 스트링으로 변환해서 리스트로 변환
    # ['문장1', '문장2']
# 2. 전체를 스트링으로 변환
    # '문장1 문장2
#3, 전체 단어 리스트 가져오기
    # [Sunja, said, goodnight, ..]

In [124]:
[' '.join(sent) for sent in text] # 1번

['Sunja said goodnight to her mother', 'Hansu was no longerin Busan']

In [125]:
' '.join([' '.join(sent) for sent in text]) # 2번

'Sunja said goodnight to her mother Hansu was no longerin Busan'

In [128]:
[word for sent in text for word in sent] # 3번

['Sunja',
 'said',
 'goodnight',
 'to',
 'her',
 'mother',
 'Hansu',
 'was',
 'no',
 'longerin',
 'Busan']

In [129]:
# if문  - else
[i for i in range(10)] # 짝수는 가져오고 홀수='홀수'

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [131]:
[i if i%2 ==0 else '홀수' for i in range(10)]
# if문을 앞으로 가져오면 된다

[0, '홀수', 2, '홀수', 4, '홀수', 6, '홀수', 8, '홀수']

In [132]:
# brown 정제하기

In [137]:
import nltk
nltk.download('brown')
inaugural = nltk.corpus.brown

[nltk_data] Downloading package brown to
[nltk_data]     C:\Users\perod\AppData\Roaming\nltk_data...
[nltk_data]   Package brown is already up-to-date!

In [138]:
# [f for f in inaugural.fileids() if 'Trump' in f] 파일 찾기

In [139]:
brown.categories()

['adventure',
 'belles_lettres',
 'editorial',
 'fiction',
 'government',
 'hobbies',
 'humor',
 'learned',
 'lore',
 'mystery',
 'news',
 'religion',
 'reviews',
 'romance',
 'science_fiction']

In [1]:
text1 = brown.raw(categories='romance')[:5000]
text1.split()
word if '/' in word

SyntaxError: invalid syntax (Temp/ipykernel_23740/1973320895.py, line 3)

In [142]:
brown.raw(categories='romance')[:5000] #를 [['They', 'neither',...]. []] 형식으로 (126번 line 느낌)
# 문장 분절 -> 단어 분절
# 불필요한 것을 제거
   # - 문장부호, POS 제거
    # 's , 'nt -> she's = she, 's / don't -> don, 't
    # 'fly-dotted -> fly, dotted'

"\n\n\tThey/ppss neither/cc liked/vbd nor/cc disliked/vbd the/at Old/jj-tl Man/nn-tl ./.\nTo/in them/ppo he/pps could/md have/hv been/ben the/at broken/vbn bell/nn in/in the/at church/nn tower/nn which/wdt rang/vbd before/in and/cc after/in Mass/nn-tl ,/, and/cc at/in noon/nn ,/, and/cc at/in six/cd each/dt evening/nn --/-- its/pp$ tone/nn ,/, repetitive/jj ,/, monotonous/jj ,/, never/rb breaking/vbg the/at boredom/nn of/in the/at streets/nns ./.\nThe/at Old/jj-tl Man/nn-tl was/bedz unimportant/jj ./.\n\n\n\tYet/rb if/cs he/pps were/bed not/* there/rb ,/, they/ppss would/md have/hv missed/vbn him/ppo ,/, as/cs they/ppss would/md have/hv missed/vbn the/at sounds/nns of/in bees/nns buzzing/vbg against/in the/at screen/nn door/nn in/in early/jj June/np ;/. ;/.\nor/cc the/at smell/nn of/in thick/jj tomato/nn paste/nn --/-- the/at ripe/jj smell/nn that/wps was/bedz both/abx sweet/jj and/cc sour/jj --/-- rising/vbg up/rp from/in aluminum/nn trays/nns wrapped/vbn in/in fly-dotted/jj cheesecloth/nn ./.\nOr/cc the/at surging/vbg whirling/vbg sounds/nns of/in bats/nns at/in night/nn ,/, when/wrb their/pp$ black/jj bodies/nns dived/vbd into/in the/at blackness/nn above/in and/cc below/in the/at amber/jj street/nn lights/nns ./.\nOr/cc the/at bay/nn of/in female/nn dogs/nns in/in heat/nn ./.\n\n\n\tThey/ppss never/rb called/vbd him/ppo by/in name/nn ,/, although/cs he/pps had/hvd one/pn ./.\nFilippo/np Rossi/np ,/, that's/dt+bez what/wdt he/pps was/bedz called/vbn in/in the/at old/jj country/nn ;/. ;/.\nbut/cc here/rb he/pps was/bedz just/rb Signore/np or/cc the/at Old/jj-tl Man/nn-tl ./.\nBut/cc this/dt was/bedz not/* unusual/jj ,/, because/cs youth/nn in/in these/dts quarters/nns was/bedz always/rb pushed/vbn at/in a/at distance/nn from/in its/pp$ elders/nns ./.\nYouth/nn obeyed/vbd when/wrb commanded/vbn ./.\nIt/pps went/vbd to/in church/nn on/in Sunday/nr and/cc one/cd Saturday/nr a/at month/nn went/vbd to/in confession/nn ./.\nBut/cc youth/nn asked/vbd nothing/pn of/in its/pp$ parents/nns --/-- not/* a/at touch/nn of/in the/at hand/nn or/cc a/at kiss/nn given/vbn in/in passing/vbg ./.\n\n\n\tThe/at only/ap thing/nn unusual/jj about/in the/at Old/jj-tl Man/nn-tl had/hvd long/jj since/rb happened/vbn ./.\nBut/cc the/at past/nn was/bedz dead/jj here/rb as/cs the/at present/jj was/bedz dead/jj ./.\nOnce/cs the/at Old/jj-tl Man/nn-tl had/hvd had/hvn a/at wife/nn ./.\nAnd/cc once/cs she/pps ,/, too/rb ,/, ignored/vbd him/ppo ./.\nWith/in a/at tiny/jj fur-piece/nn wrapped/vbd around/in her/pp$ shoulders/nns ,/, she/pps wiggled/vbd her/pp$ satin-covered/jj buttocks/nns down/in the/at street/nn before/in him/ppo and/cc didn't/dod* stop/vb ./.\nIn/in one/cd hand/nn she/pps clutched/vbd a/at hundred/cd dollar/nn bill/nn and/cc in/in the/at other/ap a/at straw/nn suitcase/nn ./.\nThe/at way/nn she/pps strutted/vbd down/in the/at street/nn ,/, the/at Old/jj-tl Man/nn-tl would/md have/hv been/ben blind/jj not/* to/to have/hv noticed/vbn both/abx ./.\nWithout/in looking/vbg at/in him/ppo ,/, without/in looking/vbg at/in anything/pn except/in Drexel/np-tl Street/nn-tl directly/rb in/in front/nn of/in her/ppo ,/, she/pps climbed/vbd up/rp into/in one/cd of/in those/dts orange/jj streetcars/nns ,/, rode/vbd away/rb in/in it/ppo ,/, and/cc never/rb came/vbd back/rb ./.\n\n\n\t``/`` But/cc she/pps shouldn't/md* have/hv come/vbn here/rb in/in the/at first/od place/nn ''/'' ,/, the/at women/nns had/hvd said/vbn ./.\n\n\n\t``/`` No/rb ,/, no/rb ./.\nNot/* that/dt one/pn ./.\nShe/pps thought/vbd she/pps was/bedz bigger/jjr than/cs we/ppss are/ber because/cs she/pps came/vbd from/in Torino/np ''/'' ./.\n\n\n\t``/`` Eh/uh ,/, Torino/np !/. !/.\nShe/pps gave/vbd herself/ppl fancy/jj airs/nns !/. !/.\nJust/rb because/cs she/pps had/hvd a/at part/nn on/in the/at stage/nn in/in the/at old/jj country/nn ,/, she/pps thought/vbd she/pps could/md carry/vb her/pp$ head/nn higher/rbr than/cs ours/pp$$ ''/'' ./.\nThey/ppss had/hvd slapped/vbn their/pp$ thighs/nns ./.\n\n\n\t``/`` It's/pps+bez not/* for/in making/vbg pretty/jj speeches/nns about/in Dante/np those/dts actresses/nns get/vb paid/vbn so/ql good/rb ''/'' ./.\n\n\n\t``/`` Henh/uh ''/'' !/. !/.\nCalloused/vbn fingers/nns ,/, caressed/vbn only/rb by/in the/at smoothness/nn of/in polished/vbn rosaries/nns ,/, had/hvd swayed/vbn excitedly/rb beneath/in puckered/vbn chins/nns where/wrb tiny/jj black/jj hairs/nns sprouted/vbd ,/, never/rb to/to be/be tweezed/vbn away/rb ./.\nMauve-colored/jj mouths/nns that/wps had/hvd never/rb known/vbn anything/pn sweeter/jjr than/cs the/at taste/nn of/in new/jj wine/nn and/cc the/at passion/nn of/in man's/nn$ tongue/nn had/hvd not/* smiled/vbn ,/, but/cc had/hvd condemned/vbn again/rb and/cc again/rb ./.\n``/`` Puttana/fw-nn ''/'' !/. !/.\n\n\n\tBut/cc if/cs the/at Old/jj-tl Man/nn-tl even/rb thought/vbd about/in his/pp$ wife/nn now/rb ,/, nobody/pn cared/vbd a/at fig/nn ./.\nIt/pps was/bedz enough/ap for/in people/nns to/to know/vb that/cs at/in one/cd time/nn he/pps had/hvd looked/vbn down/in the/at street/nn at/in the/at f"